html {
    background-color: #93262B;
}
body {
    display:flex;
    justify-content: center, top;
    align-items: center, top;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 0%;
}
main {
    background-color: #34312F;
    padding-top: 20px;
    padding-bottom: 30px;
    width: 100%;
}
.sec1 {
    background-color: white;
    justify-content: center;
    padding-top: 2%;
    padding-bottom: 2%;
}
.sec2 {
    position: relative;
    background-color: #E6ECEF;
    justify-content: center;
    width: 70%;
    margin-left: 2%;
    padding: 0.5% 1% 1% 1%;
}
table {
    border-collapse: collapse;
    width: 100%;
}
table input {
    width: 20%;
    height: 100%;
}
th {
    background-color: #D8D8D8;
    color: black;
    border: 1px solid #B3B2B3;
    text-align: left;
    padding: 0px 2px 0px 10px; /* might need to change to percentage scale */   
}

td {
    font-family: Georgia, 'Times New Roman', Times, serif;
    border: 1px solid #B3B2B3;
    text-align: left;
    width: 20%;
    color: black;
    padding-left: 0.7%;
    padding-bottom: 0.4%;
    padding-top: 0.7%;
    text-size-adjust: 0.5;
}
td input {
    padding: 4% 0;
    width: 25%;
    margin: 2px;
}
h1{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    margin-left: 2%;
}
h2, h3 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    color: #93262B;
}
.buttons {
    position: absolute;
    display: flex;
    right: 0;
    bottom: 0;
    margin: 1% 5% 2% 1%;
}
.weighted, .mean {
    margin: 5%;
    color: white;
    background-color: #A2251F;
    border-radius: 2px;
    border-color: #A2251F;
    border-width: 1px;
    padding: 5%;
    font-size: 12px;
    width: 100%;
    min-width: 80px;
}

.brow {
    margin-top: 3%;
    margin-bottom: 1%;
    font-size: 14px;
}

p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: 3%;
    margin-bottom: 4%;
}

.results {
    margin-bottom: 3%;
    min-height: 20px;
}
