html {
    background-color: #93262B;
}
body {
    display:flex;
    justify-content: center, top;
    align-items: center, top;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 0%;
}
main {
    background-color: #34312F;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
}
.sec1 {
    background-color: white;
    justify-content: center;
    padding-top: 2%;
    padding-bottom: 2%;

}
.sec2 {
    
    position: relative;
    background-color: #E6ECEF;
    justify-content: center;
    width: 80%;
    margin-left: 5%;
}
table {
    border-collapse: collapse;
    width: 100%;
}
table input {
    width: 20%;
    height: 100%;
}
th {
    background-color: #D8D8D8;
    color: black;
    border: 1px solid #B3B2B3;
    padding: 5px;
    text-align: left;
}
td {
    font-family: Georgia, 'Times New Roman', Times, serif;
    border: 1px solid #B3B2B3;
    color: black;
    width: 20%;
    padding: 5px;
}
.tdinput {
    font-family: Georgia, 'Times New Roman', Times, serif;
    border: 1px solid #B3B2B3;
    color: black;
    width: 20%;
}
h2, h3 {
    color: #93262B;
}
.buttons {
    position: absolute;
    bottom: 0;
    right: 0;
}
.weighted, .mean {
    margin: 2px;
    color: white;
    background-color: #A2251F;
    border-radius: 2px;
    border-color: #A2251F;
    border-width: 1px;
}


